name: Publish to PyPi

on:
  push:
    tags:
      - '*'

permissions:
  contents: read
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install uv
      uses: astral-sh/setup-uv@v4

    - name: Install dependencies
      run: |
        uv sync --all-groups

    - name: Lint with ruff
      run: |
        uv run task lint

    - name: Run tests
      run: |
        uv run task test-cov

    - name: Build
      run: |
        uv build --no-sources

    - name: Publish package to PyPI
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      env:
        UV_PUBLISH_USERNAME: ${{ secrets.PYPI_USERNAME }}
        UV_PUBLISH_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        uv publish
